* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html body {
    font-size: 10px;
    font-family: 'Prompt', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    padding: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

#hero {
    background-image: url(mountain.png);
    background-size: cover;
    background-position: top center;
    /* background-color:#353538; */
    position: relative;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* background-color:#353538; */
    opacity: .7;
    z-index: -1;

}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;


}

#hero h2 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: #FFFF
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;

}

.navbar-brand font {
    height: 40px;
    padding-left: 30px;

}

.navbar-nav li {
    padding: 0 10px;
}


.navbar {
    background: #353538;

}

.navbar-toggler {
    border: none !important;
}

.nav-like {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 16px;

}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);

}

h1,
h2,
h3,
h4,
h6,
nav,
.nav,
.menu,
button,
.button,
.btn,
.price,
._heading,
.wp-block-pullquote blockquote,
blockquote,
label,
legend,
a,
.card-header,
th,
display-4 {
    font-family: "Prompt", "Open Sans script=all rev=1" !important;
    font-weight: 700 !important;

}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: stretch;
    box-sizing: border-box;
    margin: 0px 0px;

}

.content {
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    height: 140px;
    padding: 10px;
}

h5 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
}

input [type="text"] {
    border: none;
    outline: none;
    border-radius: 25px 0 0 25px;
}

input [type="submit"] {
    border-radius: 25px 0 0 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ffc107;
    color: aliceblue
}

input [type="submit"]:hover {
    background: #ff5722;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 500px;
    width: 600px;
}